body{
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

img {
    width: 300px;
    height: 300px;
    border-radius: 4%;

}


.qr-box {
    background-color: hsl(0, 0%, 100%);
    width:310px;
    margin:100px auto;
    padding: 15px 10px;
    text-align: center;
    border-radius: 5%;
}

.heading-para{
    padding: 0 23px;
    color:hsl(218, 44%, 22%);
    font-size: 20px;
    font-weight: bold;

}

.content-para{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    padding: 0 23px;
}




